@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --btnblue: #0b36b8;
    --btnhover: #3456bc;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    color: white;
    font-family:'Rubik', sans-serif;;
    background: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(6,19,58,1) 100%, rgba(0,212,255,1) 100%);
}

.container {
    padding: 2em;
}

button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    background: var(--btnblue);
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    align-items:flex-end;
    cursor: pointer;
}
button:hover{
    background: var(--btnhover);
}

.blogsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2em;
}

.header{
    display: flex;
    background: #17151b;
    justify-content:space-between;
    box-shadow: 0px 2px 20px #060506;
    flex-direction: row;
    padding: 1em 3em;
}
.header h1{
    text-shadow: -2px 2px 1px #0b36b8;
}
.header button:hover{
    background: var(--btnhover);
}

.blogCards{
    width: 20%;
    height: fit-content;
    border: 2px solid var(--btnblue);
    padding: 1em;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.084);
    box-shadow: -2px 2px 50px rgb(17, 17, 106);
}
.blogCards a img{
    padding: 0.5em 0em;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
}

.blogCards a{
    text-decoration: none;
}

.cardTitle{
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.5em 0em;
}

.blogCardsbtns{
    display: flex;
    justify-content: space-between;
    margin: 0px 0.2em;
}
.blogCardsbtns button{
    cursor: pointer;
    padding: 0.5em 1em ;
}
.blogCardsbtns button:hover{
    box-shadow: -2px 2px 6px var(--btnhover);
}

/* blog.html */

.labelNames{
    font-size: 1.5em;
}
.blogtitleContainer{
    margin: 2em;
}
.blogcoverContainer{
    margin: 2em;
}
input[type=file]::file-selector-button {
    margin-left: 2em;
    border: none;
    background: var(--btnblue);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    transition: background .2s ease-in-out;
  }
input[type=file]::file-selector-button:hover {
    background: var(--btnhover);
}
input[type=text] {
    padding: 0.5em 0.5em;
    margin-left: 7.5em;
    width: 30vw;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
}

.editorfooter{
    background: #0c0b0b;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: end;
}

.template:link{
    color: rgb(198, 194, 195);
}
.template:visited{
    color: rgb(255, 0, 43);
}
.template:hover{
    color: rgb(255, 0, 43);
}


/* media query for index.html and blog.html */
@media only screen and (max-width: 768px) {
    .header{
        font-size: smaller;
    }
    .blogsContainer{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .blogCards{
        width: 50vw;
    }
}
