#blogImage{
    width: 100%;
    object-fit: cover;
    object-position: 0px 50%;
    height: 50vh;
    border-radius: 20px;
}

.content{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#blogTitle{
    text-align: center;
    font-weight:900;
    font-size: 50px;
    margin: 1rem;
   
}
