*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

button {
    margin-top: 10px;
}

.blogsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 1rem;
}

.blogCards{
    width: 20vw;
    border: 2px solid black;
}
.blogCards img{
    width: 100%;
}